@model List<ProductListModel>
@{ 
    Layout = "_Layout";
}

<a class="btn btn-outline-success mb-2">Yeni Ürün Oluştur</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Stock</th>
            <th>Price</th>
            <th>CategoryId</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Stock</td>
                <td>@product.Price</td>
                <td>@product.CategoryId</td>
                <td><a class="btn btn-outline-danger" asp-action="Remove" asp-controller="Product" asp-route-id="@product.Id">Sil</a></td>
                <td><a class="btn btn-outline-warning" asp-action="Update" asp-controller="Product" asp-route-id="@product.Id">Güncelle</a></td>
            </tr>
        }
    </tbody>


</table>