@model ProductListModel
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Update" method="post">
    <input type="hidden" asp-for="@Model.Id" />
    <div class="mb-2">
        <label class="form-label">Ürün Adı:</label>
        <input class="form-control" asp-for="@Model.Name" />
    </div>

    <div class="mb-2">
        <label class="form-label">Stok:</label>
        <input class="form-control" asp-for="@Model.Stock" />
    </div>

    <div class="mb-2">
        <label class="form-label">Fiyat: </label>
        <input class="form-control" type="number" asp-for="@Model.Price" />
    </div>

    <div class="mb-2">
        <label class="form-label">Kategori Adı: </label>
        <input class="form-control" asp-for="@Model.CategoryId" />
    </div>
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>

